body{
	margin: 0;
	padding: 0;
}
.box{
	width: 450 px;
	background: rgba(0,0,0,0);
	padding: 40 px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: black;
	font-family: 'Noto Sans', sans-serif;
}
.box h1{
	font-size: 40 px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100
}
.box p{
	
}
u1{
	margin: 0;
	padding: 0;
}
.box li{
	display: in-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: black;
	text-decoration: none;
	font-size: 45px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color:#b9b9b9
}
